/* Coolors Exported Palette - coolors.co/073823-aeffd8-fecbb9-49091c-db8585 */

/* HSL */
$color1: hsla(154%, 78%, 12%, 1);
$color2: hsla(151%, 100%, 84%, 1);
$color3: hsla(16%, 97%, 86%, 1);
$color4: hsla(342%, 78%, 16%, 1);
$color5: hsla(0%, 54%, 69%, 1);

/* RGB */
$color1: rgba(7, 56, 35, 1);
$color2: rgba(174, 255, 216, 1);
$color3: rgba(254, 203, 185, 1);
$color4: rgba(73, 9, 28, 1);
$color5: rgba(219, 133, 133, 1);